.parent1 {
  background-color: rgb(228, 67, 215);
  height: 90px;
  align-items: center;
  font-size: 50px;
  color: white;
  display: flex;
  border-radius: 0px 0px 500px 0px;
  transition: padding-top 1s ease-in-out;
}

.parent1:hover {
  padding-top: 50px;
  background-color: red;
}

section {
  display: flex;
}

.gitem-1 {
  display: flex;
  height: 300px;
  justify-content: space-evenly;
  flex-direction: column;
}
.gitem-1 .g-item-01 {
  display: flex;
  justify-content: space-evenly;
}
.gitem-1 #t4 {
  width: 40%;
}
.gitem-1 #t5 {
  width: 40%;
}
.gitem-1 .item-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  box-shadow: 1px 1px 2px 1px black;
  transition: transform 1s ease-in-out;
}
.gitem-1 .item-1 .logo {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 40px 40px 40px 40px;
}
.gitem-1 .item-1 .status {
  border: 1px solid black;
  width: 200px;
  height: 20px;
  text-align: center;
  display: flex;
  font-weight: bold;
}
.gitem-1 .item-1 .status .color {
  width: 1px;
  height: 20px;
  animation: raise 4s ease-in-out infinite alternate;
  background-color: rgb(165, 69, 249);
}

.item-1:hover {
  transform: scale(1.1);
}

@keyframes raise {
  from {
    padding-right: 0px;
  }
  to {
    padding-right: 160px;
  }
}
.parent2 {
  background-color: rgb(228, 67, 215);
  height: 70px;
  align-items: center;
  font-size: 50px;
  color: white;
  display: flex;
  border-radius: 0px 0px 500px 0px;
  transition: padding-top 1s ease-in-out;
}

.parent2:hover {
  padding-top: 30px;
  background-color: red;
  border-radius: 500px 500px 0px 0px;
}

.p2g1 {
  display: flex;
  flex-direction: column;
}
.p2g1 .p2g01 {
  display: flex;
  height: 140px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.p2g1 #t4 {
  width: 40%;
}
.p2g1 .g1-item-1 {
  display: flex;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  transition: transform 1s ease-in-out;
  box-shadow: 1px 1px 2px 1px black;
}
.p2g1 .g1-item-1 .logo1 {
  width: 60px;
  border-radius: 10px 20px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/oops.jpg");
}
.p2g1 .g1-item-1 .logo2 {
  width: 60px;
  border-radius: 10px 20px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/netw.jpg");
}
.p2g1 .g1-item-1 .logo3 {
  width: 60px;
  border-radius: 10px 20px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/1_KpDOKMFAgDWaGTQHL0r70g.png");
}
.p2g1 .g1-item-1 .logo4 {
  width: 60px;
  border-radius: 10px 20px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/algo.jpg");
}
.p2g1 .g1-item-1 .logo5 {
  width: 60px;
  border-radius: 10px 20px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/netw.jpg");
}
.p2g1 .g1-item-1 .status {
  width: 190px;
  height: 40px;
  text-align: center;
  display: flex;
  font-weight: bold;
}
.p2g1 .g1-item-1 .status .color {
  width: 0px;
  height: 40px;
  border-radius: 100% 0% 0% 0%;
  animation: raise 4s ease-in-out infinite alternate;
  background-color: rgb(96, 78, 255);
}
.p2g1 .g1-item-1:hover {
  transform: scale(1.1);
}

.parent3 {
  background-color: rgb(228, 67, 215);
  height: 70px;
  align-items: center;
  font-size: 50px;
  color: white;
  display: flex;
  border-radius: 0px 0px 500px 0px;
  transition: padding-top 1s ease-in-out;
}

.parent3:hover {
  padding-top: 30px;
  background-color: red;
  border-radius: 500px 500px 0px 0px;
}

.pg03 {
  display: flex;
  border: 2px solid green;
  align-items: center;
  justify-content: space-evenly;
}
.pg03 .p3item-1 {
  display: flex;
  border: 2px solid red;
  align-items: center;
  width: 30%;
  height: 200px;
}
.pg03 .p3item-1 .status {
  border: 1px solid black;
  width: 200px;
  height: 20px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.pg03 .p3item-1 .status .color {
  width: 20px;
  height: 20px;
  animation: raise 4s ease-in-out infinite alternate;
  background-color: rgb(165, 69, 249);
}

@media screen and (min-width: 760px) and (max-width: 1020px) {
  .gitem-1 {
    height: 800px;
    justify-content: start;
  }
  .gitem-1 .g-item-01 {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
  }
  .gitem-1 #t4 {
    width: 600px;
  }
  .gitem-1 #t5 {
    width: 600px;
  }
  .gitem-1 .item-1 {
    width: 600px;
  }
  .p2g1 .p2g01 {
    flex-direction: column;
    height: 300px;
  }
  .p2g1 .p2g01 #t4 {
    width: 70%;
  }
  .p2g1 .p2g01 .g1-item-1 {
    width: 70%;
  }
}
@media screen and (max-width: 760px) {
  .gitem-1 {
    height: 900px;
  }
  .gitem-1 .g-item-01 {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
  }
  .gitem-1 #t4 {
    width: 300px;
  }
  .gitem-1 #t5 {
    width: 300px;
  }
  .gitem-1 .item-1 {
    flex-direction: column;
    justify-content: center;
    width: 300px;
  }
  .parent2 {
    font-size: 40px;
  }
  .p2g1 .p2g01 {
    height: 700px;
    flex-direction: column;
  }
  .p2g1 .p2g01 #t4 {
    width: 80%;
  }
  .p2g1 .p2g01 .g1-item-1 {
    flex-direction: column;
    width: 80%;
    height: 200px;
  }
}/*# sourceMappingURL=Skill.css.map */